@import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu&display=swap');

body {
  font-family: 'Noto Nastaliq Urdu', serif;
}
.form-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
  }
 
