/* Global styles */
body {
  margin: 0;
  font-family: "Arial", sans-serif;
  line-height: 1.6;
 
  background-image: url("../images/homepage background.jpg");
  background-size: cover; /* Ensures the image covers the whole screen */
  background-position: center; /* Centers the background image */
  background-attachment: fixed; /* Makes the background image fixed when scrolling */
}


a {
  color: #2e8bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  text-decoration: underline;
  color: #1a5fcc;
}

/* Make the Previous and Next buttons black */
.custom-carousel-button {
  background-color: black;  /* Black background */
  border: none;             /* Remove any borders */
  padding: 10px;            /* Adjust padding for size */
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgb(0, 0, 0); /* Keep the arrows white to make them visible on the black button */
  width: 20px;
  height: 20px;
}




.content-section h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.content-section p {
  font-size: 18px;
  line-height: 1.6;
  color: #333;
}

.img-fluid {
  max-width: 200%;
  height: auto;
}

/* Responsive Adjustments */
@media (max-width: 1200px) {
  .header-content h1 {
    font-size: 40px;
  }

  .header-content p {
    font-size: 16px;
  }
}

@media (max-width: 992px) {
  .header-content h1 {
    font-size: 36px;
  }

  .header-content p {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .header-content h1 {
    font-size: 32px;
  }

  .header-content p {
    font-size: 14px;
  }

  .content-section h2 {
    font-size: 28px;
  }

  .content-section p {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .header-content h1 {
    font-size: 28px;
  }

  .header-content p {
    font-size: 12px;
  }

  .content-section h2 {
    font-size: 24px;
  }

  .content-section p {
    font-size: 14px;
  }
}
